body {
   font-family: Calibri, Candara, Segoe, sans-serif; 
}
.topGrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.counterGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.activity_name {
	font-size: 500%;
    background-color: LightSteelBlue;
}
.situation_counter_label {
    background-color: LightSteelBlue;
}
.situation_counter_value {
    font-size: 500%;
    background-color: LightSteelBlue;
}
.situation_counter_holder {
    border-style: solid;
    border-width: 1px;
}
#left_column {
    background-color: LightGrey;
}
.progress_button {
    background-color: SeaGreen;
    font-size: 400%;
}
.rewind_button {
    background-color: SeaGreen;
    font-size: 400%;
}
#creditDiv {
    position: absolute;
    right: 4px;
    bottom: 4px;
}
#nextActivityDiv {
    font-size: 400%;
    background-color: DarkCyan;
    color: LightGrey;
}
span.left_column_value {
    float: right;
}
#selectWorkout {
    float: right;
}
div.currentActivity {
    background-color: Red;
    font-weight: bold;
}
div.completedActivity {
    background-color: DimGrey;
    color: LightGrey;     
}
hr.lightrule {
    width: 75%;
    color: LightGrey;
}
    
