body {
   font-family: Calibri, Candara, Segoe, sans-serif; 
}
.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.activity_name {
	font-size: 500%;
    background-color: LightSteelBlue;
}
.activity_time_left {
    font-size: 500%;
    background-color: LightSteelBlue;
}
#left_column {
    background-color: LightGrey;
}
.progress_button {
    background-color: SeaGreen;
    font-size: 400%;
}
#creditDiv {
    position: absolute;
    right: 4px;
    bottom: 4px;
}
#nextActivityDiv {
    font-size: 400%;
    background-color: DarkCyan;
    color: DarkSlateGrey;
}
span.left_column_value {
    float: right;
}
#selectWorkout {
    float: right;
}
div.currentActivity {
    background-color: Red;
    font-weight: bold;
}
div.completedActivity {
    background-color: DarkGrey;
    color: LightGrey;     
}
    
