body {
   font-family: Calibri, Candara, Segoe, sans-serif; 
}
.activity_name {
	background-color: green;
	font-size: 800%;
}
.activity_time_left {
    background-color: lightblue;
    font-size: 1000%
}
